body { margin: 0; font-family: Arial; color: #342114; }

.navbar { display: flex; align-items: center; padding: 0px; background:#342114; }

.logo img { height: 70px; padding:20px}

nav ul { list-style: none; margin: 0; padding: 0; display: flex; }

nav ul li { margin-left: 20px;}
nav ul li :hover{transition: all 0.5s ease-in-out; transform: scale(1.1); cursor: pointer;}

nav ul li a { text-decoration:none; color:antiquewhite; font-size: 30px; font-family:Georgia, 'Times New Roman', Times, serif;}

.hero { text-align: center; padding: 100px 20px; background: antiquewhite; }

.hero h1 { font-size: 36px; margin-bottom: 10px; }

.search-box { margin-top: 20px; padding: 50px; }

.search-box input { padding: 30px; width: 200px; border: 1px solid #ccc;  }

.search-box button { padding: 29px ; background:#342114; border:none; color: antiquewhite; cursor: pointer; }

.deals { text-align: center; padding: 40px 20px; background: rgb(138, 113, 88); }

.form-section { width: 300px; margin: 50px auto; }

form { display: flex; flex-direction: column; }

input { padding: 10px; margin-bottom: 10px; border: 1px solid antiquewhite; }

button { padding: 10px; background: #342114; color: antiquewhite; border: none; }

.cuisine-list { text-align: center; padding: 40px; }

.grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin-top: 20px; padding: 0 40px; }

.box { padding: 30px; background:#342114; font-size: 20px;border-radius: 15%; font-size: 40px;}
.box:hover{ transition: all 0.5s ease-in-out; transform: scale(1.05); cursor: pointer;}

.download{ display: flex; justify-content: center; align-items: center;}
